#Herotag {
    font-family: SourceText;
    color:rgb(247, 247, 255);
    position:absolute;
    top: 4rem;
    text-align: center;
    width: 100%;
    font-size: 4rem;
}

.hero-content {
    font-family: SourceText;
    position: absolute;
    top: 4rem;
    text-align: center;
    width: 100%;
    font-size: 4rem;
    color: rgb(247, 247, 255);
    background-color:rgb(87, 98, 213);
    opacity: 40%;
    border-radius: 12px;
}
.carousel-item {
    background-size: cover;
    height: 100vh;
    display: relative;
}


/* Brandon's Page Styles for Hero images Carousel */
#hero-1 {
    background-image: url("../assets/blackpink-lovesick-girls.jpg");
}

#hero-2 {
    background-image: url("../assets/wannaonee.jpg");
}

#hero-3 {
    background-image: url("../assets/NewJeans.jpg");
}

#hero-4 {
    background-image: url("../assets/Taeyeon.jpg");
}
#hero-5 {
    background-image: url("../assets/IU2.jpg");
}

#hero-6 {
    background-image: url("../assets/twice4.jpg");
}

#hero-7 {
    background-image: url("../assets/seventeen.JPG");
}

#hero-8 {
    background-image: url("../assets/Red\ Velvet\ Inc_.jpg");
}

#hero-9 {
    background-image: url("../assets/BTS.jpg");
}

#hero-10 {
    background-image: url("../assets/izonee.png");
}
/* End Brandon's Page Styles for Hero images Carousel */



/* Marcel's Page Styles for Hero images Carousel */

#hero-11 {
    background-image: url("../assets/Luffy.jpeg");
}

#hero-12 {
    background-image: url("../assets/narutouzumaki.jpeg");
}

#hero-13 {
    background-image: url("../assets/goku.jpeg");
}

#hero-14 {
    background-image: url("../assets/kaneki.jpeg");
}
#hero-15 {
    background-image: url("../assets/Eren.jpeg");
}

#hero-16 {
    background-image: url("../assets/Kida.Masaomi.full.119459.jpg");
}

#hero-17 {
    background-image: url("../assets/re-zero-s2-netflix.jpeg");
}

#hero-18 {
    background-image: url("../assets/reaganmob.jpeg");
}

#hero-19 {
    background-image: url("../assets/karoo.jpeg");
}

#hero-20 {
    background-image: url("../assets/kungfudoong.jpg");
}
/* End Marcel's Page Styles for Hero images Carousel */

/* Marcel's Page Styles for Navbars */
@font-face {
    font-family: sourceText;
    src: url(../assets/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

.nav-pills{
    display: flex;
    width: 100%;
    background-color: #32292F;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.navBarContainer{
    width: 100%;
    background-color: #32292F;
}

.navBarText{
    color: white;
    font-family: sourceText;
    display: flex;
    align-items: center;
    height: 100%;
}

.navBarTextMarcel{
    color: white;
    font-family: sourceText;
    background-color: #575366;
}

.navBarHomeMarcel{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-right: 10px;
}

.navBarBrandonPageGo{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.navBarTextBrandon{
    color: white;
    font-family: sourceText;
    background-color: #575366;
}

.navBarHomeBrandon{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-right: 10px;
}

.navBarMarcelPageGo{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
/* End Marcel's Page Styles for Navbars */
