/* Code for index page cards */
.card {
    display: flex;
    justify-content: center;
}
.card-title {
    text-align: center;
    font-family: SourceText;
}

.card-text {
    text-align: center;
    font-family: SourceText;
}

.SelectBtn {
    display: flex;
    font-family: SourceText;
    margin-top: 7px;
    margin-bottom: 7px;
}

.BtnBackground {
    display: flex;
    justify-content: center;
    background-color:#575366;
    border-radius: 12px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.col-3{
    display: flex;
    justify-content: center;
}

.rowMain {
    display: flex;
    justify-content: center;
}
/* End of index page cards */



.indexTitle {
    color:#F7F7FF;
    display: flex;
    justify-content: center;
    font-family: GowunBatang;
    font-size: 70px;
    margin-bottom: 15px;
}
.indexNames {
    color:#F7F7FF;
    display: flex;
    justify-content: center;
    font-family: GowunBatang;
    margin-bottom: 15px;
}



#Herotag {
    font-family: SourceText;
    margin-top: 40px;
    color:rgb(247, 247, 255);
    position:absolute;
    top: 4rem;
    text-align: center;
    width: 100%;
    font-size: 4rem;
}

.hero-content {
    font-family: SourceText;
    margin-top: 40px;
    position: absolute;
    top: 4rem;
    text-align: center;
    width: 100%;
    font-size: 4rem;
    color: rgb(247, 247, 255);
    background-color:rgb(87, 98, 213);
    opacity: 40%;
    border-radius: 12px;
}
.carousel-item {
    background-size: cover;
    height: 100vh;
    display: relative;
}


/* Brandon's Page Styles for Hero images Carousel */
#hero-1 {
    background-image: url("../assets/blackpink-lovesick-girls.jpg");
    background-position: center;

}

#hero-2 {
    background-image: url("../assets/wannaonee.jpg");
    background-position: center;
}

#hero-3 {
    background-image: url("../assets/NewJeans.jpg");
    background-position: center;
}

#hero-4 {
    background-image: url("../assets/Taeyeon.jpg");
    background-position: center;
}
#hero-5 {
    background-image: url("../assets/IU2.jpg");
    background-position: center;
}

#hero-6 {
    background-image: url("../assets/twice4.jpg");
    background-position: center;
}

#hero-7 {
    background-image: url("../assets/seventeen.JPG");
    background-position: center;
}

#hero-8 {
    background-image: url("../assets/Red\ Velvet\ Inc_.jpg");
    background-position: center;
}

#hero-9 {
    background-image: url("../assets/BTS.jpg");
    background-position: center;
}

#hero-10 {
    background-image: url("../assets/izonee.png");
    background-position: center;
}
/* End Brandon's Page Styles for Hero images Carousel */



/* Marcel's Page Styles for Hero images Carousel */

#hero-11 {
    background-image: url("../assets/Luffy.jpeg");
    background-position: center;
}

#hero-12 {
    background-image: url("../assets/narutouzumaki.jpeg");
    background-position: center;
}

#hero-13 {
    background-image: url("../assets/goku.jpeg");
    background-position: center;
}

#hero-14 {
    background-image: url("../assets/kaneki.jpeg");
    background-position: center;
}
#hero-15 {
    background-image: url("../assets/Eren.jpeg");
    background-position: center;
}

#hero-16 {
    background-image: url("../assets/Kida.Masaomi.full.119459.jpg");
    background-position: center;
}

#hero-17 {
    background-image: url("../assets/re-zero-s2-netflix.jpeg");
    background-position: center;
}

#hero-18 {
    background-image: url("../assets/reaganmob.jpeg");
    background-position: center;
}

#hero-19 {
    background-image: url("../assets/karoo.jpeg");
    background-position: center;
}

#hero-20 {
    background-image: url("../assets/kungfudoong.jpg");
    background-position: center;
}
/* End Marcel's Page Styles for Hero images Carousel */

@font-face {
    font-family: sourceText;
    src: url(../assets/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}
@font-face {
    font-family: GowunBatang;
    src: url(../assets/Gowun_Batang/GowunBatang-Regular.ttf);
}

/* Marcel's Page Styles for Navbars */
.nav-pills{
    display: flex;
    width: 100%;
    background-color: #32292F;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.navBarContainer{
    width: 100%;
    background-color: #32292F;
}

.navBarText{
    color: white;
    font-family: sourceText;
    display: flex;
    align-items: center;
    height: 100%;
}

.navBarTextMarcel{
    color: white;
    font-family: sourceText;
    background-color: #575366;
}

.navBarHomeMarcel{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-right: 10px;
}

.navBarBrandonPageGo{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.navBarTextBrandon{
    color: white;
    font-family: sourceText;
    background-color: #575366;
}

.navBarHomeBrandon{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-right: 10px;
}

.navBarMarcelPageGo{
    color: white;
    font-family: sourceText;
    background-color: #575366;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
/* End Marcel's Page Styles for Navbars */



/* code for text boxes on the pages and the background color */
.textBox {
    background-color: #A5AECD;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.Text {
    margin-left: 3px;
    margin-right: 3px;
}

body {
    background-color: #6E7DAB;
}

.youtubeVideo{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    width: 100%;
    height: auto;
    border-radius: 24px;
    min-height: 250px;
}

.youtubeVideo-sm{
    min-height: 400px;
}

.img-fluid{
    border-radius: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.imageLuffy{
    display: flex;
    flex-direction: column;

}

.cardFace{
    display: flex;
    justify-content: center;
}
