/* Brandon's Page Styles for Hero images Carousel */
#hero-1 {
    background-image: url("../assets/blackpink-lovesick-girls.jpg");
}

#hero-2 {
    background-image: url("../assets/wannaonee.jpg");
}

#hero-3 {
    background-image: url("../assets/NewJeans.jpg");
}

#hero-4 {
    background-image: url("../assets/Taeyeon.jpg");
}
#hero-5 {
    background-image: url("../assets/IU2.jpg");
}

#hero-6 {
    background-image: url("../assets/twice4.jpg");
}

#hero-7 {
    background-image: url("../assets/seventeen.JPG");
}

#hero-8 {
    background-image: url("../assets/Red\ Velvet\ Inc_.jpg");
}

#hero-9 {
    background-image: url("../assets/BTS.jpg");
}

#hero-10 {
    background-image: url("../assets/izonee.png");
}